/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,latin-ext');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	position:relative;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header{
	background:#f8f8f8;
	 box-shadow: 0px 1px 4px 2px rgba( 0, 0, 0, 0.1 );
	 position:relative;
	 z-index:4;
}
.navbar-nav  li{
	margin-left:30px;
}
.navbar-nav  li:first-child{
	margin-left:0;
}
.navbar-nav > li > a{
	font:14px/1 Open Sans;
	color:#0d0d0d;
	text-transform:uppercase;
	padding:22px 2px 26px;
	border-top:4px solid transparent;
}
.navbar-nav > li.active > a, .navbar-nav > li:hover > a{
	border-color:#00a651;
}
.navbar-brand {
    box-shadow: 0px 0px 13px 2px rgba( 0, 0, 0, 0.1 );
	background:#ffffff;
	padding:20px 25px;
	position:absolute;
}
.navbar-collapse.collapse{
	float:right;
	max-width:75%;
}
#main-slider img, #bottom-slider img{
	margin:0 auto;
}
#bottom-slider .item{
	height:438px;
	background-size:cover !important;
}
.owl-theme .owl-controls .owl-buttons div, .owl-theme .owl-controls .owl-nav div{
	margin:0;
	border:1px solid #6b6b6b;
	background:transparent;
	border-radius:0;
	opacity:1;
	font-size:17px;
	padding: 18px 25px;
	display:table;
}
#main-slider .owl-controls .owl-buttons div.owl-prev, #main-slider .owl-controls .owl-nav div.owl-prev{
	background:url(../images/owl-prev.png) no-repeat center center;	
}
#main-slider .owl-controls .owl-buttons div.owl-next, #main-slider .owl-controls .owl-nav div.owl-next{
	background:url(../images/owl-next.png) no-repeat center center;	
}
#main-slider .owl-controls .owl-buttons div.owl-prev:hover, #main-slider .owl-controls .owl-nav div.owl-prev:hover{
	background:url(../images/owl-prev.png) no-repeat center center rgba(255,255,255,0.1);	
}
#main-slider .owl-controls .owl-buttons div.owl-next:hover, #main-slider .owl-controls .owl-nav div.owl-next:hover{
	background:url(../images/owl-next.png) no-repeat center center rgba(255,255,255,0.1);	
}
#main-slider .owl-controls .owl-buttons div, #main-slider .owl-controls .owl-nav div{
	padding: 27px 28px;
}
.owl-theme .owl-controls .owl-buttons div.owl-next, .owl-theme .owl-controls .owl-nav div.owl-next{
    position: relative;
	top: -1px;
}
#main-slider .slider-text, #main-slider .owl-controls{
	position:absolute;
	width:100%;
}
#main-slider .slider-text{
	top:155px;
}
#main-slider .owl-controls .owl-prev, #main-slider .owl-controls .owl-next{
	top:289px;
	position:relative;
}
#main-slider .owl-controls{
	z-index:3;
}
#main-slider .slider-text{
	z-index:2;
}
#main-slider .owl-controls .owl-buttons, #bottom-slider .owl-controls .owl-buttons, #main-slider .owl-controls .owl-nav, #bottom-slider .owl-controls .owl-nav{
	max-width:1200px;
	margin:0 auto;
}
#main-slider .slider-text h2{
	font-size:80px;
	line-height:95px;
	font-weight:200;
	color:#fff;
	text-shadow: 1px 1.732px 5px rgba( 7, 9, 13, 0.7 );
}
.slider-text-inner{
	padding-left:110px;
}
#main-slider .slider-text a{
	font-size:15px;
	line-height:1;
	border:4px solid #00a651;
	border-radius:28px 0;
	padding:15px 24px 15px 29px;
	margin-top:10px;
}
.auth-block{
	position:absolute;
	bottom:-35px;
}
.auth-block a, .auth-block{
	font-size:13px;
	line-height:1;
	color:#f8f8f8;
}
.auth-block .dash{
    font-size: 10px;
    position: relative;
    top: -1px;
	margin:0 7px;
}
.after-slider{
	border-bottom:2px solid #dadadb;
	font-size:18px;
	line-height:22px;
	color:#020207;
	padding:25px 0 20px;
}
.after-slider-block p{
	background:url(../images/green2.png) no-repeat left 10px;
	padding-left:35px;
	line-height:24px;
}
.search-block{
	position:absolute;
	right:0;
	top:-140px;
	background:#039f4f;
	color:#fff;
	padding:37px 50px 43px;
	min-width:402px;
	z-index:1;
}
.search-block h3{
	font-size:30px;
	line-height:1;
	font-weight:200;
	margin:0 0 22px 0;
}
.search-block select{
	width:100%;
	box-sizing:border-box;
	padding:12px 15px 12px 22px;
	font-size:16px;
	color:#0d0d0d;
	border:none;
	margin:0 0 20px 0;
	-moz-appearance: none;
    text-overflow: "";
	-ms-appearance: none;
    -webkit-appearance: none;
    appearance: none!important;
	background:url(../images/select.png) no-repeat #fff 95% center;
}
.search-block input[type="submit"]{
	background:url(../images/search.png) no-repeat #026f37 92px center;
	border:none;
	padding:14px 42px 14px 22px;
}
.search-block input[type="submit"]:hover{
	background:url(../images/search.png) no-repeat #036533 92px center;	
}
.adv-search{
	font-size:14px;
	float:right;
	margin-top:13px;
}
select{
	cursor:pointer;
}
input:focus, select:focus{
	outline:none;
}
h2{
	font-size:44px;
	line-height:1;
	font-weight:200;
	color:#020205;
}
.display-table{
	display:table;
}
.display-row{
	display:table-row;
}
.display-cell{
	display:table-cell;
	vertical-align:middle;
}
.transition, .newsletter input[type="submit"], .follow-us a,  #bottom-slider .owl-controls .owl-buttons div, #bottom-slider .owl-controls .owl-nav div, .search-block input[type="submit"]{
  transition: all 0.25s ease 0s;
 -webkit-transition: all 0.25s ease 0s;
 -moz-transition: all 0.25s ease 0s;
 -o-transition: all 0.25s ease 0s;
}
.country{
	font-size:20px;
	line-height:1;
	color:#000;
}
.percent-bar{
	display:inline-block;
	height:5px;
	background:#039f4f;
}
.percent-bar.percent-bar-red{
	background:#dc0010;
}
.number{
	font-size:16px;
	color:#13141b;
	vertical-align:middle;
}
.inv-ratings .down{
	margin-top:80px;
}
.inv-ratings h2{
	margin:60px 0 40px;
	color:#13141b;
}
.inv-ratings h3{
	font-size:26px;
	line-height:30px;
	color:#151616;
	margin:0 0 28px 0;
	min-height:60px;
}
.flag{
	padding-right:10px;
	width:10%;
}
.inv-ratings .display-table{
	width:100%;
	margin-bottom:23px;
}
.inv-opportunities h2{
	text-align:center;
	margin:42px 0 55px;
}
.inv-opportunities-block{
	width:50%;
	float:left;
}
.inv-opportunities-inner{
	position:relative;
}
.inv-opportunities-table, .event-text{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.inv-opportunities-table{
	text-align:center;
}
.inv-opportunities-inner img{
	margin:0 auto;
}
.inv-opportunities-table .display-table{
	width:100%;
	height:100%;	
}
.opport-img{
	border:4px solid #888888;
	width:166px;
	height:166px;
	line-height:166px;
	border-radius:166px;
	margin:0 auto;
}
.opport-img img{
	line-height:166px;
	vertical-align:middle;
}
.inv-opportunities-table h3{
	font-size:32px;
	line-height:39px;
	margin-top:10px;
}
.upcoming-events h2{
	position:relative;
	margin:58px 0 44px;
}
.upcoming-events h2 a{
	position:absolute;
	top:15px;
	right:0;
	color:#000;
	font-size:15px;
}
.first-event, .upcoming-event{
	float:left;
	width:50%;
}
.first-event, .upcoming-event-inner{
	position:relative;
}
.upcoming-event-inner, .newsletter-inner{
	margin-left:5px;
}
.upcoming-event{
	font-size:28px;
	line-height:34px;
	margin-bottom:5px;
}
.upcoming-event h3{
	position:absolute;
	bottom:45px;
	padding-right:60px;
}
.event-text{
	z-index:1;
	padding:0 60px 45px;
	background: -moz-linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 50%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.8)), color-stop(50%, rgba(0,0,0,0))); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 50%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 50%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 50%); /* ie10+ */
	background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 50%); /* w3c */
}
.first-event{
	float:left;
	width:50%;
}
.first-event h3{
	font-size:40px;
	line-height:48px;
	bottom:65px;
	position:absolute;
	padding-right:60px;
}
.first-event h3:after{
	position:absolute;
	content:"";
	display:block;
	width:73px;
	height:2px;
	background:#00a651;
	left:0;
	bottom:-21px;
}
.news .display-cell{
	vertical-align:top;
}
.news-img{
	padding-right:30px;
}
.news-title{
	font-size:20px;
	line-height:28px;
	color:#000;
}
.news-date{
	font-size:14px;
	line-height:28px;
	color:#565656;
	margin-top:3px;
}
.news .display-table{
	margin-bottom:40px;
	width:90%;
}
.upcoming-events .news  h2{
	margin-bottom:36px;
}
.upcoming-events .news h2 a{
	right:75px;
	top: 18px;
}
.newsletter{
	border-left:1px solid #cecece;
	padding-left:65px;
}
.newsletter h2{
	background:url(../images/newsletter.png) no-repeat left center;
	padding-left:55px;
	margin-bottom:23px;
}
.newsletter p{
	font-size:16px;
	line-height:24px;
	color:#000;
}
.newsletter input[type="text"]{
	margin:35px 0 20px;
	width:100%;
	border:1px solid #b2b2b2;
	box-sizing:border-box;
	padding:0 0 0 30px;
	height:64px;
	font-size:18px;
    color:#2e2e2e;
}
.upcoming-events .col-md-12{
	padding-bottom:60px;
}
.newsletter input[type="submit"]{
	border:3px solid #039f4f;
	background:url(../images/search2.png) no-repeat #fff 130px center;
	font-size:18px;
	line-height:1;
	color:#1e1e1e;
	padding:20px 54px 20px 27px;
}
.newsletter input[type="submit"]:hover{
	background:url(../images/search3.png) no-repeat #039f4f 130px center;
	color:#fff;
}
.follow-us-wrapper{
	box-sizing:border-box;
	position:absolute;
	bottom:0;
	width:50%;
}
.follow-us{
	background:#039f4f;
	padding:30px 0 25px 65px;
	margin-right:20px;
}
.follow-us span{
	font-size:26px;
	line-height:1;
	color:#fff;
	margin-right:12px;
}
.follow-us a{
	color:#fff;
	border:2px solid rgba(255,255,255,0.3);
	width:48px;
	height:48px;
	font-size:20px;
	line-height:45px;
	border-radius:48px;
	text-align:center;
	display:inline-block;
	vertical-align:middle;
	margin-left:5px;
}
.follow-us a:hover{
	color:#000;
	background:#fff;
}
.news + .upcoming-event{
	margin-bottom:0;
}
#bottom-slider .slider-text, #bottom-slider .owl-controls{
	position:absolute;
	width:100%;
}
#bottom-slider .slider-text{
	top:0;	
}
 #bottom-slider .owl-controls{
	top:183px;	
 }
.position{
	font-size:16px;
	line-height:18px;
	margin-top:10px;
}
.quote{
	font-size:30px;
	line-height:40px;
}
#bottom-slider .display-table{
	width:74%;
	margin:0 auto;
}
#bottom-slider .owl-controls .owl-buttons div, #bottom-slider .owl-controls .owl-nav div{
	border:none;
	padding:0;
	width:18px;
	height:42px;
}
#bottom-slider .owl-controls .owl-buttons div.owl-prev, #bottom-slider .owl-controls .owl-nav div.owl-prev{
	background:url(../images/prev.png) no-repeat 0 0;
}
 #bottom-slider .owl-controls .owl-buttons, #bottom-slider .owl-controls .owl-nav{
	 position:relative;
 }
#bottom-slider .owl-controls .owl-buttons div.owl-next, #bottom-slider .owl-controls .owl-nav div.owl-next{
	background:url(../images/next.png) no-repeat 0 0;
	right:0;
	position:absolute;
}
 #bottom-slider .owl-controls .owl-buttons div:hover, #bottom-slider .owl-controls .owl-nav div:hover{
	 opacity:0.7;
 }
::-webkit-input-placeholder{
   font-size:18px;
   color:#2e2e2e;
}
:-moz-placeholder{
   font-size:18px;
   color:#2e2e2e;
}
::-moz-placeholder{
   font-size:18px;
   color:#2e2e2e;
}
:-ms-input-placeholder{ 
   font-size:18px;
   color:#2e2e2e;
}
 #bottom-slider .owl-pagination, #bottom-slider .owl-dots{
	text-align:center;
	position: absolute;
    width: 100%;
    top: 200px;
}
 #bottom-slider .owl-controls .owl-page span,  #bottom-slider .owl-controls .owl-dots span{
	opacity:1;
	width:6px;
	height:6px;
	border-radius:6px;
	background:#73706d;
	margin: 0 12px;
}
.bottom-menu-wrapper{
	padding-top:33px;
	color:#2e2e2e;
	border-bottom:1px solid #dddddd;
	padding-bottom:40px;
}
.bottom-menu{
	width:200px;
	float:left;
	box-sizing:border-box;
	padding-right:22px;
}
.bottom-menu h3{
	font-size:22px;
	color:#2e2e2e;
	margin:18px 0 13px;
}
.bottom-menu ul li{
	list-style:none;
	margin-top:5px;
}
.bottom-menu ul li a{
	font-size:14px;
	line-height:18px;
	color:#2e2e2e;
}
.bottom-address{
	float:right;
	font-size:14px;
	line-height:18px;
	margin-top:13px;
	max-width:400px;
}
.bottom-address p{
	margin-top:6px;
}
.download{
	font-size:16px;
	color:#0d0d0d;
	margin:48px 0 10px;
}
.clear{
	clear:both;
}
.app-store{
	margin-right:6px;
}
 #bottom-slider .owl-controls .owl-page.active span, #bottom-slider .owl-controls .owl-dots .active span{
	 background:#fff;
 }
#logo-slider{
	width:85%;
	margin:30px auto;
}
footer{
	background:#2e2e2e;
	font-size:12px;
	line-height:14px;
	padding:19px 0;
}
.artis{
	text-align:right;
}
#select-lang{
	position:absolute;
	bottom:-39px;
	right:9px;
	font-size:13px;
	color:#2e2e2e;
	height:30px;
	width:58px;
	padding:0 0 0 12px;
	-moz-appearance: none;
    text-overflow: "";
	-ms-appearance: none;
    -webkit-appearance: none;
    appearance: none!important;
	background:url(../img/select2.png) no-repeat #f8f8f8 40px center;
	border:none;
}
 .owl-pagination, .owl-dots{
	 text-align:center;
 }
 .after-slider-block a{
	 font-size:15px;
	 color:#000;
	 margin:3px 0 0 35px;
 }
#main-slider .item{
	height:570px;
	background-size:cover !important;
}
.main-slider-wrapper{
	position:relative;
}
.slider-overlay{
	position:absolute;
	height:100%;
	width:100%;
	z-index:1;
	background:rgba(0,0,0,0.5);
	top:0;
}
.inv-opportunities-wrapper{
	box-sizing:border-box;
	width:50%;
	float:left;
}
.inv-opportunities-wrapper-right{
	padding-left:2px;
}
.inv-opportunities-wrapper-left{
	padding-right:2px;
}
.inv-opportunities-wrapper .inv-opportunities-block:first-child{
	padding-right:2px;
}
.inv-opportunities-wrapper .inv-opportunities-block:nth-child(2){
	padding-left:2px;
}
.main-slider-wrapper{
	position:relative;
}
#main-slider .item:before{
    background:url(../images/layer.png) no-repeat center center;	
	background-size:cover;
    position: absolute;
	content:"";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
	opacity:0.5;
}
.country, .inv-ratings h3, .upcoming-events h2 a, .event-text, .news-title, .news-date, .newsletter p, .follow-us, .quote, .bottom-menu ul li a, .bottom-menu h3, .bottom-address, footer, .after-slider-block a{
	font-weight:200;
}
#main-slider .slider-text a:hover, .owl-theme .owl-controls .owl-buttons div:hover, .owl-theme .owl-controls .owl-nav div:hover{
	background:rgba(255,255,255,0.1);
}
#main-slider .slider-text a, .adv-search, .adv-search:hover, .inv-opportunities-table h3, .inv-opportunities-table h3 a, .inv-opportunities-table h3 a:hover,
.event-text a, .position, .quote, footer, footer a, footer a:hover{
	color:#fff;
}
#main-slider .slider-text a{
	display:inline-block;
}
.auth-block a, .adv-search, .upcoming-events h2 a span, footer a,  .after-slider-block a{
	text-decoration:underline;
}
#main-slider .slider-text a:hover, .auth-block a:hover, .adv-search:hover, .upcoming-events h2 a:hover, .upcoming-events h2 a:hover span, footer a:hover,  .after-slider-block a:hover{
	text-decoration:none;
}
@media (min-width: 1631px) {
	.inv-opportunities{
		max-width:1610px;
		margin:auto;
	}
}
@media (max-width: 1370px) {
	#bottom-slider .owl-pagination, #bottom-slider .owl-dots {
		top: 139px;
	}
}
@media (max-width: 1200px) {
	.navbar-brand {
		padding: 10px 15px;
	}
	#bottom-slider .owl-controls .owl-buttons div.owl-next, #bottom-slider .owl-controls .owl-nav div.owl-next{
		right:15px;
	}
	#bottom-slider .owl-controls .owl-buttons div.owl-prev, #bottom-slider .owl-controls .owl-nav div.owl-prev{
		left:15px;
		position:absolute;
	}
	.navbar-brand > img{
		max-width:170px;
	}
	#main-slider .item{
		height:415px;
	}
	.navbar-collapse.collapse {
		max-width: 78%;
	}
	.navbar-nav > li > a{
		padding: 12px 2px 16px;
	}
	.navbar-nav li {
		margin-left: 10px;
	}
	.navbar-nav > li > a{
		font-size:12px;
	}
	#main-slider .slider-text{
		top: 80px;
	}
	.news .news-img img{
		display:block;
		max-width:100%;
		height:auto;
	}
	 #bottom-slider .owl-pagination, #bottom-slider .owl-dots{
		 top:150px;
	 }
	 .bottom-menu{
		 width:155px;
	 }
	 .bottom-address {
		max-width: 320px;
	}
	#logo-slider .owl-pagination, #logo-slider .owl-dots{
		margin-top:15px;
	}
	#main-slider .owl-controls .owl-buttons, #main-slider .owl-controls .owl-nav{
		max-width:940px;
	}
}
@media (max-width: 991px) {
	.navbar-brand > img {
		max-width: 140px;
	}
	#main-slider .item{
		height:400px;
	}
	.navbar-collapse.collapse {
		max-width: 75%;
	}
	.auth-block {
		bottom: -124px;
	}
	#main-slider .slider-text h2 {
		font-size: 50px;
		line-height: 55px;
	}
	#main-slider .owl-controls .owl-buttons, #main-slider .owl-controls .owl-nav{
		max-width:720px;
	}
	#main-slider .owl-controls .owl-prev, #main-slider .owl-controls .owl-next{
		top:200px; 
	}
	.inv-opportunities-block{
		width:50%;
		margin-bottom:4px;
	}
	.upcoming-event {
		font-size: 23px;
		line-height: 27px;
	}
	.event-text{
		padding:0 30px 30px;
	}
	.upcoming-event h3 {
		bottom: 30px;
	}
	.first-event h3 {
		font-size: 28px;
		line-height: 31px;
		bottom: 50px;
	}
	.upcoming-events .news h2 a {
		right: 25px;
	}
	.follow-us span{
		display:block;
		margin:0 0 10px 0;
	}
	.follow-us a{
		margin:0 5px 0 0;
	}
	#bottom-slider .display-table{
		width:100%;
	}
	.quote {
		font-size: 20px;
		line-height: 25px;
	}
	.bottom-menu {
		width: 180px;
	}
	.bottom-address {
		max-width: 100%;
		float:left;
		clear:both;
		position:relative;
		margin-top: 41px;
	}
	.inv-ratings h3{
		margin:30px 0 15px;
	}
	.search-block{
		top: -173px;
		min-width: 200px;
	}
	#bottom-slider .owl-controls .owl-buttons div.owl-next, #bottom-slider .owl-controls .owl-nav div.owl-next{
		right:10px;
	}
	#bottom-slider .owl-controls .owl-buttons div.owl-prev, #bottom-slider .owl-controls .owl-nav div.owl-prev{
		left:10px;
		position:absolute;
	}
	#bottom-slider .display-table {
		width: 90%;
	}
	.auth-block{
		position:relative;
		bottom:0;
		padding-bottom: 19px;
		padding-top: 4px;
	}
	.auth-block a, .auth-block{
		font: 13px/1 Open Sans;
		color: #039f4f;	
		text-transform:uppercase;
	}
	.auth-block a{
		padding: 12px 2px 16px;		
	}
	.navbar-nav  li{
		margin-left:0;
	}
	.nav > li.auth-block > a{
		display:inline-block;
		color:#039f4f;
		border-top:none;
	}
	.navbar-nav {
		margin-top: 30px;
	}
	.navbar-collapse.collapse{
		float:none;
		max-width:100%;
	}
	#select-lang{
		top:11px;
		right:58px;
		width:50px;
	}
	header .container{
		position:relative;
	}
	.inv-opportunities-wrapper{
		width:100%;
	}
	.inv-opportunities-wrapper-right{
		padding-left:0;
	}
	.inv-opportunities-wrapper-left{
		padding-right:0;
	}
}
@media (max-width: 790px) {
	.search-block{
		right:10px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.news .display-cell.news-img {
		margin-bottom: 10px;
	}
	.news .display-cell {
		display: block;
	}
	.news .news-img img {
		max-width: 100%;
	}
}
@media (min-width: 768px){
	#main-slider .owl-controls{
		top:-112px;
	}
}
@media (max-width: 767px) {
	.upcoming-events .col-md-12{
		padding-bottom:0;
	}
	.upcoming-event{
		max-width:594px;
	}
	.follow-us-wrapper{
		position:relative;
		width:100%;
	}
	.follow-us{
		margin-right:0;
	}
	.slider-text-inner {
		padding-left: 0;
	}
	#main-slider .slider-text h2 {
		font-size: 36px;
		line-height: 44px;
	}
	.owl-theme .owl-controls .owl-buttons div, .owl-theme .owl-controls .owl-nav div {
		padding: 8px 15px;
	}
	#main-slider .slider-text a{
		margin-top:35px;
	}
	#main-slider .slider-text {
		top: 56px;
	}
	.search-block {
		position: relative;
		top: 0;
	}
	.inv-ratings h2 {
		margin: 30px 0 20px;
	}
	.first-event, .upcoming-event {
		float: none;
		width: 100%;
	}
	.first-event{
		margin-bottom:5px;
		max-width:600px;
	}	
	.logo-slider img{
		margin:0 auto;
	}
	.artis {
		text-align: left;
		margin-top:10px;
	}
	.bottom-menu {
		width: 50%;
	}
	.bottom-menu-wrapper .col-md-12 .bottom-menu:nth-child(3){
		clear:left;
	}
	.upcoming-event-inner, .newsletter-inner{
		margin-left: 0;
	}
	#bottom-slider  .display-table, #bottom-slider  .display-cell{
		display:block;
	}
	.news-img{
		text-align:center;
	}
	#bottom-slider .owl-buttons, #bottom-slider .owl-nav{
		display:none;
	}
	#bottom-slider .slider-text {
		top: 0;
	}
	#bottom-slider .owl-controls {
		top: 50%;
		margin-top:-21px;
	}
	.inv-opportunities h2 {
		margin: 22px 0 35px;
	}
	.upcoming-events h2 {
		margin: 38px 0 24px;
	}
	.follow-us {
		margin-top: 40px;
	}
	h2 {
		font-size: 34px;
	}
	.newsletter h2{
		min-height:37px;
	}
	.search-block {
		margin-top:15px;
	}
	#select-lang{
		right:61px;
	}
	#main-slider .owl-controls {
		bottom: 86px;
	}
	#main-slider .owl-controls .owl-prev, #main-slider .owl-controls .owl-next{
		top:0;
		position:absolute;
		right:15px;
	}
	#main-slider .owl-controls .owl-buttons div.owl-prev, #main-slider .owl-controls .owl-nav div.owl-prev{
		top:-55px;
	}
	.after-slider-block p{
		background:url(../images/green2.png) no-repeat 0 0;
		padding:11px 0 0 0;
	}
	.after-slider-block a{
		margin:15px 0 4px 0;
		display:inline-block;
	}
	.newsletter {
		padding-left: 0;
		border-left:none;
	}
	.newsletter input[type="text"]{
		margin:20px 0 20px;
	}
	.bottom-menu-wrapper{
		padding-top:6px;
	}
	#bottom-slider .display-table{
		width:100%;
		margin-top:25px;
	}
	.quote {
		font-size: 24px;
		line-height:32px;
		margin-top:15px;
	}
	.position{
		margin-top:25px;
	}
	.newsletter input[type="submit"]{
		width:100%;
	}
	#bottom-slider .owl-pagination, #bottom-slider .owl-dots {
		top: 206px;
	}
	.newsletter input[type="submit"], .newsletter input[type="submit"]:hover{
		background-position:60% 50%;
	}
	#bottom-slider .slider-text .news-img img{
		max-width:120px;
		display:inline-block;
		height:auto;
	}
}
@media (max-width: 500px) {
	.inv-opportunities-block {
		width: 100%;
	}
}
@media (max-width: 481px) {
	.inv-opportunities-block {
		width: 100%;
	}
	.download, .download-icons{
		text-align:center;
	}
	.app-store {
		margin-right: 0;
	}
	.inv-opportunities-wrapper .inv-opportunities-block:first-child{
		padding-right:0;
	}
	.inv-opportunities-wrapper .inv-opportunities-block:nth-child(2){
		padding-left:0;
	}
}
@media (min-width: 992px) {
	.news .news-img img{
		max-width:220px;
	}
}
@media (max-width: 400px) {
	.search-block {
		padding: 17px 30px 23px;
		min-width: 100px;
	}
	.adv-search{
		float:none;
		display:table;
	}
	.upcoming-events h2 a{
		position:relative;
		display:table;
		top:8px;
		left:0;
	}
	.upcoming-event {
		font-size: 20px;
		line-height: 22px;
	}
	.upcoming-event h3 {
		bottom: 20px;
	}
	.news .display-cell {
		display: block;
	}
	.news .display-cell.news-img {
		margin-bottom:10px;
	}
	.follow-us {
		padding: 20px 0 15px 20px;
	}
	.news .display-table {
		width: 100%;
	}
	.news-img {
		padding-right: 0;
	}
	.newsletter input[type="submit"], .newsletter input[type="submit"]:hover{
		background-position:66% 50%;
	}
}