doctype html
html(lang='en')
  head
    title Invest
    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    link(rel='stylesheet', type='text/css', href='css/style.min.css')
    link(rel='stylesheet', type='text/css', href='fonts/icon_1/themify-icons.css')
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,latin-ext', rel='stylesheet')

  body
    header
      .container
        .row
          .col-md-12
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/')
                img.img-responsive.logo(src='img/logo.png', width='209', height='76', alt='logo', title='logo')
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              .auth-block.hidden-sm.hidden-xs
                a(href='/') Login
                span.dash |
                a(href='/') Registration
              ul.nav.navbar-nav
                li.active
                  a(href='/', title='Why Belarus') Why Belarus
                li
                  a(href='/', title='Investment Opportunities') Investment Opportunities 
                li
                  a(href='/', title='Business Environment') Business Environment
                li
                  a(href='/', title='NAIP and what we do') NAIP and what we do
                li
                  a(href='/', title='News') News
                li
                  a(href='/', title='Contacts') Contacts
                li.auth-block.hidden-lg.hidden-md
                  a(href='/') Login
                  span.dash |
                  a(href='/') Registration
        select#select-lang
          option(value='BY') BY
          option(selected='selected', value='RU') RU
          option(value='EN') EN
.container-fluid

      .row.sectionOne
        img(src='img/357443-svetik.png').sectionOne_pic
        p.sectionOne_text База инвестиционных проектов

      .row.sectionTwo
          .sectionTwo_menu
            ul.sectionTwo_list
              li.sectionTwo_items Все
              li.sectionTwo_items Инвестиционный проект
              li.sectionTwo_items Объект недвижимости
              li.sectionTwo_items Земельный участок
              li.sectionTwo_items Объект приватизации
              li.sectionTwo_items Инвитиционная идея
          .sectionTwo_inputs
            .sectionTwo_block
              p.sectionTwo_title ОТРАСЛЬ
              .sectionTwo_inputs_box
                .select
                  select.sel
                    option(value='', disabled='', selected='') Невыбрано
                    option(value='hurr') Item1
                    option(value='saab') Item2
              p.sectionTwo_title ОБЛАСТЬ
              .sectionTwo_inputs_box
                .select
                  select.sel
                    option(value='', disabled='', selected='') Невыбрано
                    option(value='hurr') Item1
                    option(value='saab') Item2
              button.sectionTwo_inputs_button
                | Найти
                span.ti-angle-right
            .sectionTwo_block
              p.sectionTwo_title СРОКИ ОКУПАЕМОСТИ
              .from.form_1
                p.sectionTwo_from от
                .sectionTwo_inputs_box.sectionTwo_inputs_box_2
                  .select.select_2
                    select.sel
                      option(value='', disabled='', selected='') -
                      option(value='hurr') Item1
                      option(value='saab') Item2
              .from
                p.sectionTwo_from до
                .sectionTwo_inputs_box.sectionTwo_inputs_box_2
                  .select.select_2
                    select.sel
                      option(value='', disabled='', selected='') -
                      option(value='hurr') Item1
                      option(value='saab') Item2
              p.sectionTwo_title.sectionTwo_title_2 ФОРМА УЧАСТИЯ
              .sectionTwo_inputs_box.lastInputMargin
                .select
                  select.sel
                    option(value='', disabled='', selected='') Невыбрано
                    option(value='hurr') Item1
                    option(value='saab') Item2
            .sectionTwo_block
              p.sectionTwo_title ОБЪЁМ ИНВИСТИЦИЙ
              .from.form_1
                p.sectionTwo_from от
                .sectionTwo_inputs_box.sectionTwo_inputs_box_2
                  .select.select_2
                    select.sel
                      option(value='', disabled='', selected='') -
                      option(value='hurr') Item1
                      option(value='saab') Item2
              .from
                p.sectionTwo_from до
                .sectionTwo_inputs_box.sectionTwo_inputs_box_2
                  .select.select_2
                    select.sel
                      option(value='', disabled='', selected='') -
                      option(value='hurr') Item1
                      option(value='saab') Item2
              p.sectionTwo_title.sectionTwo_title_2 ВАЛЮТА
              .sectionTwo_inputs_box.lastInputMargin
                .select
                  select.sel
                    option(value='', disabled='', selected='') Невыбрано
                    option(value='hurr') Item1
                    option(value='saab') Item2
            .sectionTwo_block.sectionThree_HideMap_col
              a(href='#/')
                p.sectionTwo_filter Сбросить фильтр
              img.sectionTwo_img(src='img/shape.png', alt='Destination')
              a(href='#/')
                p.sectionTwo_showMap.lastInputMargin Скрыть карту
          
        .row.sectionThree
          .sectionThree_block
            .col-md-6.col-sm-6
              p.sectionThree_title Результаты поиска
            .col-md-6.col-sm-6
              ul.sectionThreeList
                li.sectionThree_sort Сортировка по:
                li.sectionThree_sort Дате
                li.sectionThree_sort Популярности
                li.sectionThree_sort Цены
    .row.map
      script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=0kVC67QpzrI0hAQJ68IYMyNOxIKm-VJC&amp;width=100%25&amp;height=470&amp;lang=ru_RU&amp;sourceType=constructor&amp;')

.container-fluid
    .row.sectionFour
      .sectionFour_block
        - for (var i=0; i < 9; i++)
            .col-md-4.col-sm-6.sectionFour_blocK
              .sectionFour_back
                .sectionFour_back_2
                  .one
                  p.two Машиностроение
                  p.three
                    | Создание предприятия на
                    | базе компании производящей
                    | строительные материалы.
                  p.four Дата публикации: 20.05.2017
                .sectionFour_back_3
                  .desc
                    p Инициатор проекта
                    p Наименование инициатора
                  .desc
                    p Область
                    p Могилевская
                  .desc.notFloat
                    p Срок окупаемости
                    p 5 лет
                  .desc.Padding
                    p Объем инвестиций
                    p 140 000 $
                  .container  
       
    .row.sectionFive
      .sectionFive_block
        ul.sectionFive_list
          li.number
            span.ti-arrow-circle-left
          li.number 1
          li.number 2
          li.number 3
          li.number 4
          li.number 5
          li.number 6
          li.number 7
          li.number 8
          li.number
            span.ti-arrow-circle-right
      .SectionFive_line
            
.bottom-menu-wrapper
      .container
        .row
          .col-md-12
            .bottom-menu
              h3 Why Belarus
              ul
                li
                  a(href='/') Who We Are
                li
                  a(href='/') Events
                li
                  a(href='/') Careers
                li
                  a(href='/') DJI Global Citizenship
                li
                  a(href='/') DJI Enterprise
              .footer_search    
                input(type='text' placeholder='Search').footer_inp
            .bottom-menu
              h3 Business environment
              ul
                li
                  a(href='/') Who We Are
                li
                  a(href='/') Events
                li
                  a(href='/') Careers
                li
                  a(href='/') DJI Global Citizenship
            .bottom-menu
              h3 Investment opportunities
              ul
                li
                  a(href='/') Who We Are
                li
                  a(href='/') Events
                li
                  a(href='/') Careers
            .bottom-menu
              h3 NAIP and what we do
              ul
                li
                  a(href='/') Who We Are
                li
                  a(href='/') Events
                li
                  a(href='/') DJI Enterprise
                li
                  a(href='/') Contact Us
            .bottom-address
              p 14 Bersona Street, Minsk, 220030
              p Phone: +375 17 200 81 75,  +375 17 200 52 89
              p Email: mail@investinbelarus.by
              .download Download our Application
              .download-icons
                a(href='/')
                  img.app-store(src='img/app-store.jpg', alt='', title='')
                a(href='/')
                  img.google-play(src='img/google-play.jpg', alt='', title='')
            .clear
    .logo-slider
      .container
        .row
          .col-md-12
            #logo-slider.owl-carousel
              .item
                img.img-responsive(src='img/logo1.jpg', alt='', title='').item_one
              .item
                img.img-responsive(src='img/logo2.png', alt='', title='').item_one
              .item
                img.img-responsive(src='img/logo3.jpg', alt='', title='').item_one
              .item
                img.img-responsive(src='img/logo4.jpg', alt='', title='').item_one
              .item
                img.img-responsive(src='img/logo5.jpg', alt='', title='')

footer
      .container
        .row
          .col-md-6.col-sm-6
            p © 2014 National agency of investment and privatization
          .col-md-6.col-sm-6.artis
            p
              | Web Development — 
              a(href='http://www.artismedia.by', target='_blank') ArtisMedia

script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script(src='js/libsAll.min.js')
















     








                




